<article class="password-change main-container-wrapper">
    <div class="container main-contents">
        <section class="main-content">
            <form class="password-form">
                <!--<div class="form-group">-->
                    <!--<label for="userId">ID</label>-->
                    <!--<input type="text" class="form-control" data-validate-type="text" id="userId" name="userId">-->
                <!--</div>-->
                <div class="form-group">
                    <label for="password">현재 패스워드</label>
                    <input type="password" class="form-control" data-validate-type="text" id="existPassword"  name="existPassword" placeholder="패스워드를 입력하세요">
                    <span class="help-block hidden"></span>
                </div>
                <div class="form-group">
                    <label for="password">신규 패스워드</label>
                    <input type="password" class="form-control" data-validate-type="text" id="password"  name="password" placeholder="패스워드를 입력하세요">
                    <span class="help-block hidden"></span>
                </div>
                <div class="form-group">
                    <label for="password">신규 패스워드 확인</label>
                    <input type="password" class="form-control" data-validate-type="text" id="confirmPassword"  name="confirmPassword" placeholder="패스워드를 입력하세요">
                    <span class="help-block hidden"></span>
                </div>
                <input type="hidden" class="form-control" data-validate-type="text" id="userId" name="userId"/>
            </form>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group " role="group">
                    <button type="button" id="changePassword" class="btn btn-lg btn-primary">변경</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="closePopup" class="btn btn-lg btn-default">취소</button>
                </div>
            </div>
        </section>
    </div>
</article>