<article class="password-validation main-container-wrapper">
    <div class="container main-contents">
        <section class="main-content">
            <form class="password-form">
                <div class="form-group">
                    <label for="userId">ID</label>
                    <input type="text" class="form-control" data-validate-type="text" id="userId" name="userId" disabled>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" data-validate-type="text" id="password"  name="password" placeholder="패스워드를 입력하세요">
                    <span class="help-block hidden"></span>
                </div>
            </form>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group " role="group">
                    <button type="button" id="validatePassword" class="btn btn-lg btn-primary">확인</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="closePopup" class="btn btn-lg btn-default">취소</button>
                </div>
            </div>
        </section>
    </div>
</article>