<article class="education-schedule main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="glyphicon glyphicon-blackboard"></span>Anyframe 정규 교육 과정</H1>
    </div>
    <div class="description">
        <p> 이 과정은 Anyframe Java 내에 있는 오픈소스 자바 프레임워크들을 학습할 수 있는 5일 과정의 교육입니다.</p>
        <ul>
            <li>오픈소스와 어플리케이션 프레임워크에 대한 기본 개념을 익히고 Spring에서 제공하는 IoC/AOP 기술에 대한 지식을 습득할 수 있습니다.</li>
            <li>Spring과 연관되어 사용되는 Hibernate, iBATIS, Apache CXF 등에 대해 학습하고 실습을 통해 기본 역량을 갖추게 될 것입니다.</li>
            <li>또한 Anyframe Java에서 제공하는 다양한 오픈소스 확장 기능과 개발 툴을 활용하여 웹 어플리케이션 개발 생산성을 향상시킬 수 있는 방법을 가이드합니다.</li>
        </ul>
    </div>

    <div class="container main-contents">
        <h4 class="sub-title"><span class="glyphicon glyphicon-calendar" /> 교육일정</h4>
        <section class="main-content schedule">
            <table class="table table-hover">
            <tbody>
            <tr>
                <th>1차</th><td>02/09~02/13</td>
            </tr>
            <tr>
                <th>2차</th><td>05/11~05/15</td>
            </tr>
            <tr>
                <th>3차</th><td>08/17~08/21</td>
            </tr>
            <tr>
                <th>4차</th><td>11/16~11/20</td>
            </tr>
            </tbody>
        </table>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-pencil" /> 교육신청</h4>
        <section class="main-content enrolment">
            <p>
                크레듀 멀티캠퍼스 홈페이지를 통해 정규 교육 과정에 대한 수강 신청이 가능합니다.
            </p>
            <ul>
                <li><a href="www.multicampus.co.kr" target="_blank">크레듀 멀티캠퍼스</a>에 로그인합니다.</li>
                <li>[오픈소스 자바 프레임워크 - Anyframe Java]로 과정을 검색합니다.</li>
                <li>해당 과정에서 신청하기 버튼을 클릭하여 수강 신청합니다.</li>
            </ul>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-th-list" /> 커리큘럼</h4>
        <section class="main-content curriculum">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">구분</th>
                        <th class="brn">학습내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tit" rowspan="7">1일차</th>
                        <th rowspan="3">오전</th>
                        <td>- 오픈소스 프레임워크 소개 - 오픈소스 프레임워크 개요, 필요성, 기술 트렌드</td>
                    </tr>
                    <tr>
                        <td>- 오픈소스 프레임워크 소개 - Anyframe Java 소개 및 개발 환경 구성</td>
                    </tr>
                    <tr>
                        <td>- Spring Framework 기본 - Spring Framework (개요, Core Container)</td>
                    </tr>
                    <tr>
                        <th rowspan="4">오후</th>
                        <td>- Spring Framework 기본 - Bean (정의, Scope, Lifecycle, Test)
                            <br>- [실습] Bean 정의 및 활용</td>
                    </tr>
                    <tr>
                        <td>- Spring Framework 기본 - Dependency (정의, Lookup, Injection)
                            <br>- [실습] Dependency Injection</td>
                    </tr>
                    <tr>
                        <td>- Spring Framework 기본 - Annotation (Stereotype, Auto Detectiond  등)</td>
                    </tr>
                    <tr>
                        <td>- Spring Framework 기본 - Spring TestCase
                            <br>- [실습] Annotation 활용</td>
                    </tr>
                    <tr>
                        <th class="tit" rowspan="7">2일차</th>
                        <th rowspan="3">오전</th>
                        <td>- Business &amp; Persistence - 개요, AOP(Aspect Oriented Programming)</td>
                    </tr>
                    <tr>
                        <td>- Business &amp; Persistence - AOP 구성 요소, Configuration: Annotation based AOP</td>
                    </tr>
                    <tr>
                        <td>- Business &amp; Persistence - AOP 활용: Logging, Exception Transfer
                            <br>- [실습] AOP 활용</td>
                    </tr>
                    <tr>
                        <th rowspan="4">오후</th>
                        <td>- Business &amp; Persistence - Spring JDBC 개요, Query Service 개요, Configuration</td>
                    </tr>
                    <tr>
                        <td>- Business &amp; Persistence - Mapping XML, Result Mapping
                            <br>- [실습] Result Mapping</td>
                    </tr>
                    <tr>
                        <td>- Business &amp; Persistence - Dynamic Query, Pagination, AbstractDao, Query Manager</td>
                    </tr>
                    <tr>
                        <td>- [실습] AbstractDao 활용
                            <br>- Business &amp; Persistence - Transaction, Declarative Management</td>
                    </tr>
                    <tr>
                        <th rowspan="7">3일차</th>
                        <th rowspan="3">오전</th>
                        <td>- Business &amp; Persistence - 실행 아키텍처 검증
                            <br>- [실습] Business Layer 개발</td>
                    </tr>
                    <tr>
                        <td>- [실습] Spring MVC Controller 구현
                            <br>- Presentation - Presentation Layer와 Spring MVC 개요</td>
                    </tr>
                    <tr>
                        <td>- Presentation - Spring MVC Controller 구현, 다국어, 예외, 파일 업로드 처리</td>
                    </tr>
                    <tr>
                        <th rowspan="4">오후</th>
                        <td>- Presentation - 중복 폼 서브밋 방지, Tag Libraries, Formatter/Validation</td>
                    </tr>
                    <tr>
                        <td>- Presentation - Spring REST 개요, REST Support</td>
                    </tr>
                    <tr>
                        <td>- Presentation - Spring REST 구현
                            <br>- [실습] Spring REST 구현</td>
                    </tr>
                    <tr>
                        <td>- Presentation - Business Layer 연계
                            <br>- [실습] Presentation Layer 개발</td>
                    </tr>
                    <tr>
                        <th rowspan="7">4일차</th>
                        <th rowspan="3">오전</th>
                        <td>- ORM - iBATIS  Persistence Framework, Hibernate vs. iBATIS, iBATIS2</td>
                    </tr>
                    <tr>
                        <td>- ORM - iBATIS  Configuration, Parameter/Result Mapping
                            <br>- [실습] Parameter/Result Mapping</td>
                    </tr>
                    <tr>
                        <td>- ORM - iBATIS  Dynamic SQL, Pagination, Batch Update, Callable Statement</td>
                    </tr>
                    <tr>
                        <th rowspan="4">오후</th>
                        <td>- ORM - iBATIS  Spring DAO Support
                            <br>- [실습] DAO Abstraction</td>
                    </tr>
                    <tr>
                        <td>- ORM - Hibernate - Hibernate 개요, Mapping XML, CRUD with Persistence Object</td>
                    </tr>
                    <tr>
                        <td>- [실습] Basic CRUD
                            <br>- ORM - Hibernate - CRUD with HQL, Persistence Object</td>
                    </tr>
                    <tr>
                        <td>- ORM - Hibernate - Configuration, Spring Integration
                            <br>- [실습] HQL 활용</td>
                    </tr>
                    <tr>
                        <th class="tit" rowspan="7">5일차</th>
                        <th rowspan="3">오전</th>
                        <td>- Web Services - CXF - Web Services 개요, Apache CXF 개요</td>
                    </tr>
                    <tr>
                        <td>- Web Services - CXF - JAX-WS Frontend, Databinding(JAXB/Aegis/MTOM)</td>
                    </tr>
                    <tr>
                        <td>- Web Services - CXF - Web Services 구현
                            <br>- [실습] JAX-WS/JAXB/Spring을 활용한 Web Services 구현</td>
                    </tr>
                    <tr>
                        <th rowspan="4">오후</th>

                        <td>- Anyframe IDE 개요 및 설치, 기능 소개(CLI/Eclipse Plugin)</td>
                    </tr>
                    <tr>
                        <td>- Anyframe IDE 활용
                            <br>- [실습] Anyframe IDE 활용</td>
                    </tr>
                    <tr>
                        <td>- Anyframe ODEN 개요 및 설치</td>
                    </tr>
                    <tr>
                        <td>- Anyframe Monitoring Tool 개요 및 설치</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</article>