<div class="footer">
    <nav class="footer-sitemap container">
        <div class="">
            <div class="content col-lg-3 col-sm-6">
                <h3>Anyframe</h3>
                <ul class="nav-list-inline">
                    <li><a href="#project">프로젝트</a></li>
                    <li><a href="#notice">공지사항</a></li>
                    <li><a href="#education-schedule">교육일정</a></li>
                </ul>
            </div>
            <div class="content col-lg-3 col-sm-6">
                <h3>Forum</h3>
                <ul class="nav-list-inline">
                    <li><a href="https://forum.ssc.com/">질문 목록</a></li>
                    <li><a href="https://forum.ssc.com/dwqa-ask-question/">질문 작성</a></li>
                </ul>
            </div>
            <div class="content col-lg-3 col-sm-6">
                <h3>Blog</h3>
                <ul class="nav-list-inline">
                    <li><a href="https://blog.ssc.com/">포스트 목록</a></li>
                    <!--<li><a href="#">새 포스트</a></li>-->
                </ul>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
            <!--<h3>Get New Posts</h3>-->
            <!--<dl id="submitionContent" class="subscription">-->
            <!--<dd id="formContainer">-->
            <!--<form id="subscriptionForm">-->
            <!--<input class="email" name="emailForSubscription" id="emailForSubscription" value="" placeholder="Give a e-mail to us">-->
            <!--<button type="button" class="submit" id="button"><span class="glyphicon glyphicon-play"></span></button>-->
            <!--</form>-->
            <!--</dd>-->
            <!--<dd id="progress" style="display:none;"></dd>-->
            <!--</dl>-->
            <!--</div>-->
            <div class="content col-lg-3 col-sm-6">
                <h3 class="contacts">Contacts</h3>
                <ul class="nav-list-inline">
                    <li><span>anyframe.ssc@gmail.com</span></li>
                </ul>
                <!--</div>-->
                <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
                <!--<h3 class="contacts">SNS</h3>-->
                <!--<ul class="social">-->
                <!--<li class="facebook" title="Facebook"><a href="#">Facebook</a></li>-->
                <!--&lt;!&ndash;<li class="google-plus" title="Google+"><a href="#">Google+</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="linked-in" title="LinkedIn"><a href="#">LinkedIn</a></li>&ndash;&gt;-->
                <!--<li class="twitter" title="Twitter"><a href="#">Twitter</a></li>-->
                <!--<li class="anyframe-rss" title="RSS"><a href="/rss.xml">RSS</a></li>-->
                <!--</ul>-->
            </div>
        </div>
    </nav>

    <footer class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="text col-lg-10 col-md-10 col-sm-12">
                    <ul class="nav-list-inline">
                        <li>Copyright © 2008 - 2015 Samsung SDS, All Rights Reserved. Developed by Three Pizza TF</li>
                        <li><a href="#privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="logo col-lg-2 col-md-2 col-sm-12">
                    <ul class="nav-list-inline">
                        <li class="left"><img alt="Samsung SDS" src="/img/logo_samsungsds_korean.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>