<div id="noticeEditor" class="notice main-container-wrapper">
    <div class="title">
        <h1 class="main-title">
            <span class="glyphicon glyphicon-bell"></span>공지사항
        </h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 nopadding">
                        <input type="text" id="noticeEditorTitle" class="h2" placeholder="제목을 입력하세요"/>
                        <textarea id="txtEditor"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group noticeEditor-btn-group" role="group" aria-label="...">
            <button type="button" id="noticeAddBtn" class="btn btn-lg btn-primary">저장</button>
            <button type="button" id="noticeRemoveBtn" class="btn btn-lg btn-default">삭제</button>
            <button type="button" id="noticeCancelBtn" class="btn btn-lg btn-default">취소</button>
        </div>
    </div>
</div>
