<div class="masthead">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item container active">
                    <a href="#education-schedule"><img class="img-responsive" src="/img/main-sample-1.png" alt="Anyframe Enterprise Edition"></a>
                </div>
                <div class="item container">
                    <a href="https://forum.ssc.com"><img class="img-responsive" src="/img/main-sample-2.png" alt="Anyframe Enterprise Edition"></a>
                </div>
                <div class="item container">
                    <a href="https://blog.ssc.com"><img class="img-responsive" src="/img/main-sample-3.png" alt="Anyframe Enterprise Edition"></a>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <script>
            window.onload = function(){
                $('.carousel').carousel();
            };
        </script>
    </div>
</div>
<div class="contents">
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe</H2>
            <p>Anyframe은 자바 기반의 어플리케이션을 개발하기 위한 기본 아키텍처, 기술 공통 서비스, 템플릿 등을 제공하는 어플리케이션 프레임워크으로써 업계 표준으로 활용되는 오픈 소스를 활용하여 구성되어 있다.</p>
            <p>본 사이트는 Anyframe 기반의 어플리케이션 개발에 대해서 개발자의 참여를 통해 다양한 지식을 창출하고, 지속적으로 교류해 나가기 위한 오픈 소스 커뮤니티이다.</p>
            <ul>Anyframe Projects Link</ul>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe 미션</H2>
            <p>최근 급성장하고 있는 오픈 소스는 제품 개발이나 IT 서비스의 핵심 영역에 뿌리 깊게 자리잡고 있으나 각기 다른 기능을 제공하는 수많은 오픈 소스를 채택하여 활용하기 위해서는 전문적인 지식과 많은 노력이 요구된다. 이에 Anyframe은 오픈 소스 커뮤니티를 통해서 어플리케이션 개발 시 공통으로 사용되는 오픈 소스 기반의 어플리케이션 프레임워크와 이를 쉽게 사용할 수 있도록 체계적인 가이드 제공하는 것을 미션으로 한다.</p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe의 목표</H2>
            <p>Anyframe은 검증된 오픈 소스를 활용하여 개발과 유지보수가 용이한 어플리케이션 개발의 인프라 제공을 추구한다.</p>
            <ul>
                <li><strong>순수 객체 지향 기반의 분석/설계 모델이 실제 구현체와 일치</strong>될 수 있도록 한다.</li>
                <li><strong>변경에 따른 모듈간의 영향력을 줄이고 재사용을 촉진</strong>을 위해 단위 모듈간의 의존성을 최소화한다.</li>
                <li><strong>비기능성 코드를 업무 기능 개발 영역에서 분리</strong>하여 개발자가 비즈니스 로직 개발에 집중할 수 있도록 한다.</li>
                <li><strong>특정 플랫폼이나 Anyframe 자체에 대한 의존도를 최소화</strong>하여 변경이나 확장에 대한 유연성을 높인다.</li>
                <li><strong>다양한 3rd Party 제품과 쉽게 연계</strong>하여 프로젝트에서 현실적으로 요구되는 추가 기능을 즉시 수용할 수 있는 개방형 아키텍처를 지향한다.</li>
                <li><strong>프로젝트 팀원들간의 의사소통을 표준화</strong>할 수 있도록 프레임워크, 개발 툴, 개발환경 등을 구성한다.</li>
            </ul>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe 미션</H2>
            <p>최근 급성장하고 있는 오픈 소스는 제품 개발이나 IT 서비스의 핵심 영역에 뿌리 깊게 자리잡고 있으나 각기 다른 기능을 제공하는 수많은 오픈 소스를 채택하여 활용하기 위해서는 전문적인 지식과 많은 노력이 요구된다. 이에 Anyframe은 오픈 소스 커뮤니티를 통해서 어플리케이션 개발 시 공통으로 사용되는 오픈 소스 기반의 어플리케이션 프레임워크와 이를 쉽게 사용할 수 있도록 체계적인 가이드 제공하는 것을 미션으로 한다.</p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe이란?</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>배경</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>특징</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>적용효과</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe 구성</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe 구성 > 프레임워크</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe 구성 > 개발/관리도구</H2>
            <p></p>
        </article>
    </div>
    <div class="anyframe-contents">
        <article class="container">
            <H2>Anyframe 구성 > 개발환경</H2>
            <p></p>
        </article>
    </div>
</div>