<article class="project project-detail main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="icon-logoproject-02"></span>Code Generator</H1>
    </div>
    <div class="description">
        <p>Anyframe Java IDE Code Generator(이하 Code Generator)는 Anyframe Java Core 기반의 개발 환경을 손쉽게 구성할 수 있도록 템플릿 기반의 프로젝트 구조 및 샘플 코드를 생성하며, Database 기반의 CRUD 코드 생성 기능 등을 지원하는 Eclipse Plugin을 제공하고 있다</p>
    </div>

    <div class="container main-contents">
        <h4 class="sub-title"><span class="glyphicon glyphicon-check" /> Feature</h4>
        <section class="main-content feature">
            <p>Anyframe Java Core 기반으로 프로젝트 수행 시, 개발자들의 개발 편의성을 극대화할 수 있도록 Anyframe Java Core 설치, 프로젝트 생성 및 코드 생성 기능을 포함한 Code Generator를 제공한다. Eclipse Plugin 형태의 Code Generator를 통해 Anyframe Java Core 설치에서부터 프로젝트 구조, 코드 생성, 빌드 수행에 이르기까지 개발 프로세스 전반에 걸쳐 도움을 받을 수 있다.</p>
            <ul>
                <li>타입별 프로젝트 및 빌드 스크립트 등을 생성한다.</li>
                <li>Domain 클래스를 중심으로 CRUD 기본 코드를 생성하고 테스트 코드와 테스트 데이터를 함께 생성한다.</li>
                <li>Best Practice 에 해당하는 샘플 소스 코드가 생성 됨으로 Anyframe을 활용한 개발 시에 참조 코드로 활용이 용이하다.</li>
                <li>Anyframe Java Core Plugin 목록 조회 및 설치, 제거가 가능해 기능 추가에 따른 추가 리소스 감소에 도움을 준다.</li>
            </ul>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-duplicate" /> Document</h4>
        <section class="main-content document row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Guide</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <colgroup>
                                <col width="25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>3.1.0</th>
                                <td><a href="http://dev.anyframejava.org/docs/anyframe/ide/codegenerator/3.1.0/reference/htmlsingle/codegenerator.html">HTML(Single)</a></td>
                                <td><a href="http://dev.anyframejava.org/docs/anyframe/ide/codegenerator/3.1.0/reference/html/index.html">HTML</a></td>
                                <td><a href="http://dev.anyframejava.org/docs/anyframe/ide/codegenerator/3.1.0/reference/pdf/codegenerator-3.1.0.pdf">PDF</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <h4 class="sub-title">
            <a href="https://www.anyframejava.org/system/files/anyframe-ide-3.1.0.zip">
                <span class="glyphicon glyphicon-download-alt"/> Download
            </a>
        </h4>
    </div>
</article>