<article class="project project-detail main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="icon-logoproject-04"></span>Anyframe Monitoring</H1>
    </div>
    <div class="description">
        <p>Anyframe Monitoring Tool(이하 Monitoring Tool)은 Java EE Application의 성능 측정과 문제점 진단 기능을 제공하는 오픈소스 Monitoring Tool인 Infrared에 기반하고 있다. Anyframe Monitoring Tool은 Application의 성능을 다양한 형태로 측정, 수집하여 정성적 분석을 가능하게 해준다. 이 버전은 IE 6.x에서만 테스트되었다.</p>
    </div>

    <div class="container main-contents">
        <h4 class="sub-title"><span class="glyphicon glyphicon-check" /> Feature</h4>
        <section class="main-content feature">
            <ul>
                <li>Performance Summary 기능을 통해 각 레이어에서 메소드를 실행하는데 소요된 총 시간, 평균 실행 시간, 실행 회수, 최소 실행 시간, 최대 실행 시간 및 call trace 정보 등을 볼 수 있다.</li>
                <li>SQL Summary 페이지를 통해 쿼리문 평균 수행 시간과 호출 빈도수를 기반으로 상위 5개의 query를 볼 수 있으며, 별도의 팝업을 통해 실제로 수행된 완전한 쿼리문을 볼 수 있다.</li>
            </ul>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-duplicate" /> Document</h4>
        <section class="main-content document row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Guide</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <colgroup>
                                <col width="25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>1.0.0</th>
                                <td><a href="http://dev.anyframejava.org/docs/monitoring/1.0.0/reference/htmlsingle/monitoring.html">HTML(Single)</a></td>
                                <td><a href="http://dev.anyframejava.org/docs/monitoring/1.0.0/reference/html/index.html">HTML</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <h4 class="sub-title">
                <span class="glyphicon glyphicon-download-alt"/> Download (Monitoring)
        </h4>
        <section class="main-content feature">
            <ul>
                <li><a href="https://www.anyframejava.org/system/files/anyframe.tools.monitoring-1.0.0.war">Monitoring</a></li>
                <li><a href="https://www.anyframejava.org/system/files/anyframe.tools.monitoring.agent-1.0.0.zip">Agent</a></li>
            </ul>
        </section>
    </div>
</article>