<article class="project project-detail main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="icon-logoproject-08"></span>Anyframe Java Batch</H1>
    </div>
    <div class="description">
        <p>Anyframe Batch는 대용량 배치업무 처리를 위한 실행 엔진 및 통합 관제환경을 제공하는 Java 기술 기반의 프레임워크로 배치 어플리케이션 실행 엔진, 배치 어플리케이션 개발 환경, 배치 어플리케이션 통제 Agent 및 관리환경까지 엔터프라이즈 시스템에서 배치 업무처리에 필요한 모든 환경을 제공하여, 배치 운영 관리 수준을 향상시킬 수 있는 기반을 제공한다.</p>
    </div>

    <div class="container main-contents">
        <h4 class="sub-title"><span class="glyphicon glyphicon-check" /> Feature</h4>
        <section class="main-content feature">
            <ul>
                <li>XML 기반의 선언적 Batch Job 정의</li>
                <li>DB, File(SAM, VSAM )등 다양한 Resource에 대하여 추상화된 동일한 IO 제공</li>
                <li>Multi-Thread 기반 동시 작업 처리 및 배치 특화된 데이터/파일 처리</li>
                <li>Java, Parallel, Shell 등 다양한 유형의 Step 처리 지원</li>
                <li>고정길이, 가변길이, Encoding 변환 등 다양한 유형의 파일 처리</li>
                <li>Shell 기반의 Sort , Unload, FTP 등의 다양한 3rd Party 툴 통합 지원</li>
                <li>Shell 변수, Step 변수를 통한 동적 Resource 할당</li>
                <li>멀티 서버에서 동기화된 Resource File Locking(동시 파일 접근 방지)</li>
                <li>사용자 Profile 기반의 개별 권한 관리 (Unix 환경과 통합)</li>
            </ul>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-duplicate" /> Document</h4>
        <section class="main-content document row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Guide</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <colgroup>
                                <col width="25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>version</th>
                                <td><a href="">HTML(Single)</a></td>
                                <td><a href="">HTML</a></td>
                                <td><a href="">PDF</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <h4 class="sub-title">
            <a href="https://www.anyframejava.org/system/files/anyframe-batch-1.0.0_1.zip">
                <span class="glyphicon glyphicon-download-alt"/> Download
            </a>
        </h4>
    </div>
</article>