<article class="project-overview main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="icon-logo icon-logoproject-00"></span>Anyframe Projects</H1>
    </div>
    <div class="description">
        <p>Anyframe은 Java EE 기술을 이용하여 쉽고 빠르게 비즈니스 어플리케이션의 개발을 지원할 수 있도록 프레임워크, 개발 및 관리도구, 개발 환경을 중심으로 프로젝트가 구성되어 있다.</p>
        <p>Anyframe의 모든 프로젝트는 라이선스 정책으로 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache Licence, Version 2.0</a>을 채택합니다. 단, Anyframe 내에서 사용된 외부 오픈 소스의 경우 원 오픈 소스의 라이선스 정책을 따릅니다.</p>
    </div>

    <div class="container main-contents">
        <section class="main-content projects row">
            <a class="project-container col-md-4 col-sm-6" href="#project/core">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-core"></div>-->
                    <span class="icon-logoproject-01"></span>
                </div>
                <div class="project-title">Anyframe Core</div>
                <p class="project-description">
                    Anyframe Java Core는 Spring 기반에서 오픈 소스를 통합 및 확장하여 구성한 어플리케이션 프레임워크와 MVC 아키텍처 기반의 웹 프레임워크를 제공한다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/code-generator">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-code-generator"></div>-->
                    <span class="icon-logoproject-02"></span>
                </div>
                <div class="project-title">Code Generator</div>
                <p class="project-description">
                    Anyframe Java IDE Code Generator는 Anyframe Java Core 기반의 개발 환경 구성을 위해 프로젝트 구조, 샘플 코드 및 Database 기반의 CRUD 코드를 생성하는 Eclipse 플러그인이다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/query-manager">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-query-manager"></div>-->
                    <span class="icon-logoproject-06"></span>
                </div>
                <div class="project-title">Query Manager</div>
                <p class="project-description">
                    Anyframe Java IDE Query Manager는 Anyframe의 Query Service를 사용할 때 필요한 데이터베이스 Query문을 관리하고 활용하기 쉽도록 해 주는 Eclipse 플러그인이다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/oden">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-oden"></div>-->
                    <span class="icon-logoproject-05"></span>
                </div>
                <div class="project-title">ODEN</div>
                <p class="project-description">Anyframe Open Deployment Environment은 CI환경을 통해 빌드된 소스를 배포대상서버에 편리하게 배포할 수 있도록 하는 배포관리 툴이다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/log-manager">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-log-manager"></div>-->
                    <span class="icon-logoproject-07"></span>
                </div>
                <div class="project-title">Log Manager</div>
                <p class="project-description">
                    Anyframe Log Manager는 개발 및 유지보수 단계에서 로그 데이타에 대한 접근성을 높이고, 분석을 위한 필터 및 편의기능 제공을 위한 웹 기반의 도구로써 로그 조회 기능을 제공한다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/batch">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-batch"></div>-->
                    <span class="icon-logoproject-08"></span>
                </div>
                <div class="project-title">Anyframe Batch</div>
                <p class="project-description">
                    Anyframe Batch는 대용량 배치업무 처리를 위한 실행 엔진 및 통합 관제환경을 제공하는 Java 기술 기반의 프레임워크이다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/iam">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-iam"></div>-->
                    <span class="icon-logoproject-03"></span>
                </div>
                <div class="project-title">IAM</div>
                <p class="project-description">
                    IAM은 Spring Security 를 기반으로 Java EE 기반의 엔터프라이즈 어플리케이션을 위한 사용자 인증 및 권한관리 기능을 제공하는 Identity & Access Management Framework 이다.</p>
            </a>
            <a class="project-container col-md-4 col-sm-6" href="#project/monitoring">
                <div class="project-logo-container">
                    <!--<div class="logo logo-project-monitoring"></div>-->
                    <span class="icon-logoproject-04"></span>
                </div>
                <div class="project-title">Monitoring</div>
                <p class="project-description">
                    Anyframe Monitoring Tool은 Java EE Application의 성능 측정과 문제점 진단 기능을 제공하는 오픈소스 Monitoring Tool인 Infrared에 기반하고 있다.</p>
            </a>
        </section>
    </div>
</article>