<article class="project project-detail main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="icon-logoproject-06"></span>Query Manager</H1>
    </div>
    <div class="description">
        <p>Anyframe Java IDE Query Manager(이하 Query Manager)는 Anyframe의 Query Service를 사용할 때 필요한 데이터베이스 Query문을 관리하고 활용하기 쉽도록 해 주는 Eclipse 플러그인이다.</p>
    </div>

    <div class="container main-contents">
        <h4 class="sub-title"><span class="glyphicon glyphicon-check" /> Feature</h4>
        <section class="main-content feature">
            <ul>
                <li>Anyframe의 Query Service를 사용할 때 활용할 수 있는 Query 맵핑 XML 파일의 손쉬운 작성</li>
                <li>Query Manager Editor 및 Query Explorer, Query Test Editor를 통한 손쉬운 Query 추가/변경/삭제 기능 제공</li>
                <li>프로젝트 별로 설정된 Query 맵핑 XML의 Outline 및 Query ID의 사용여부, 중복 여부를 설정된 아이콘을 통해 쉽게 파악</li>
                <li>GUI 기반의 Query 작성 지원</li>
                <li>GUI 기반의 Query 테스트 지원</li>
                <li>Query문에 대하여 Query ID의 검색 기능 제공</li>
                <li>Query ID의 중복체크 기능 제공</li>
                <li>Query ID를 기반으로 한 Query문 사용여부 정보 제공</li>
                <li>Anyframe의 Query Service를 활용한 DAO에 대하여 작성한 Query를 손쉽게 활용할 수 있도록 Content Assist 제공</li>
                <li>Query Explorer 와 Query 맵핑 XML 파일 간의 손쉽게 이동할 수 있는 네비게이션 기능 제공</li>
                <li>DAO에서 사용한 특정 Query로 손쉽게 이동할 수 있는 네비게이션 기능 제공</li>
            </ul>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-duplicate" /> Document</h4>
        <section class="main-content document row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Guide</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <colgroup>
                                <col width="25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>3.0.0</th>
                                <td><a href="http://dev.anyframejava.org/docs/anyframe/ide/queryManager/3.0.0/reference/htmlsingle/queryManager.html">HTML(Single)</a></td>
                                <td><a href="http://dev.anyframejava.org/docs/anyframe/ide/queryManager/3.0.0/reference/html/index.html">HTML</a></td>
                                <td><a href="http://dev.anyframejava.org/docs/anyframe/ide/queryManager/3.0.0/reference/pdf/querymanager-3.0.0.pdf">PDF</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <h4 class="sub-title">
            <a href="https://www.anyframejava.org/system/files/anyframe-ide-3.1.0.zip">
                <span class="glyphicon glyphicon-download-alt"/> Download
            </a>
        </h4>
    </div>
</article>