<article class="project project-detail main-container-wrapper">
    <div class="title">
        <H1 class="main-title"><span class="icon-logoproject-03"></span>Anyframe IAM</H1>
    </div>
    <div class="description">
        <p>	IAM은 Spring Security 를 기반으로 Java EE 기반의 엔터프라이즈 어플리케이션을 위한 사용자 인증 및 권한관리 기능을 제공하는 Identity & Access Management Framework 이다. Anyframe 또는 Spring Framework 기반으로 작성된 어플리케이션에 대한 인증 및 권한관리 기능을 제공하며, 사용자 인증 및 권한관리에 능동적이고 유연한 형태의 어플리케이션을 개발할 수 있도록 지원한다.</p>
    </div>

    <div class="container main-contents">
        <h4 class="sub-title"><span class="glyphicon glyphicon-check" /> Feature</h4>
        <section class="main-content feature">
            <ul>
                <li><b>Spring Security 기반 IAM Core</b> 엔터프라이즈 어플리케이션에 설치되어 사용자 인증 및 권한관리를 제어하는 IAM Core 는 Spring Security 기반으로 작성되어 있으며, DB 기반으로 구축된다. Anyframe 또는 Spring 기반의 어플리케이션에 적용시 기존 어플리케이션의 변경 영향을 최소할 수 있다.</li>
                <li><b>독립적인 형태의 IAM Admin Console</b> IAM Core 의 동작은 DB의 데이타를 기반으로 하여 구성되며, 이때 DB의 내용을 관리하기 위한 툴이 IAM Admin Console이다. 기존 엔터프라이즈 어플리케이션과 별도로 동작하므로 어플리케이션과의 독립적인 형태로 관리 기능을 구성할 수 있다.</li>
                <li><b>Spring Security 의 강력한 기능을 계승</b> Spring Security 의 강력한 기능을 계승하고 확장하였으며, 유연하고 확장성 있는 형태의 사용자 인증 및 권한관리 기능을 제공한다.</li>
                <li><b>Cross Browser 지원</b> IAM Admin 은 Cross Browser 지원하여 Internet Explorer 뿐만 아니라 Firefox, Chrome, Safari 등과 같은 브라우저에서도 동일하게 동작하도록 구현되어 있다.</li>
                <li><b>관심 영역의 분리</b> Servlet Filter 와 AOP를 통한 가로채기(Interception)을 사용하여 보안을 부여하며, Spring 의 Ioc와 Lifecycle서비스 기반으로 동작하여 일반적인 업무 코드 영역과 분리되어 동작한다.</li>
            </ul>
        </section>

        <h4 class="sub-title"><span class="glyphicon glyphicon-duplicate" /> Document</h4>
        <section class="main-content document row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Guide</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <colgroup>
                                <col width="25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>1.1.3</th>
                                <td><a href="http://dev.anyframejava.org/docs/iam/1.1.3/reference/htmlsingle/anyframeiam.html">HTML(Single)</a></td>
                                <td><a href="http://dev.anyframejava.org/docs/iam/1.1.3/reference/html/index.html">HTML</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <h4 class="sub-title">
            <a href="https://www.anyframejava.org/license_agreement">
                <span class="glyphicon glyphicon-download-alt"/> Download
            </a>
        </h4>
    </div>
</article>